html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    /* display: flex; */
}
body{
    display: flex;
}
.right{
    margin: 0;
    padding: 0;
    width:80%;
    height: 100%;
    background-color: rgb(74, 93, 156);
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    width: 100%;
    height: 20%;
}
.boardTile{
    box-sizing: border-box; /*the combination of flex and aspect ratio affects the border, therefor this line ensures the correct borders are rendered*/
    pointer-events: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    aspect-ratio: 1; 
    background-color: rgb(159, 237, 237);
}
.boardTile:hover{
    border: 2px solid rgb(76, 70, 70);
}

.boardTile.soil:hover{
    border: 2px solid rgb(242, 255, 208);
}
.rock{
    background-color: grey;
}
.soil{
    background-color: rgb(82, 61, 61);
}
.grass{
    background-color: rgb(41, 165, 68);
}
.treeTrunk{
    background-color: rgb(145, 76, 24);
}
.leaves{
    background-color: rgb(123, 249, 77);
}
/* menu */
.left{
    margin: 0;
    /* margin-top: 1%; */
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width:20%;
    background-color: rebeccapurple;

}

.left div{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left div:hover{
    background-color: aliceblue;
}
.left .clicked{
    background-color: aliceblue;
}
#rockPlacer{
    background-color: grey;
}